#projectList {
  margin: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divisao-sessao {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

.container-filter {
  display: flex;
  width: 70%;
  gap: 4%;
}

.container-filter button {
  color: #fff;
  font-family: 'Montserrat';
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .4);
  transition: all 0.7 ease;
  background: #303030;
  border: #303030;
  border-radius: 10px;
  font-weight: bold;
  height: 45px;
  font-size: 0.7em;
  width: 100%;
}

#active {
  border: 2px solid white;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  flex-wrap: wrap;
  gap: 15px;
}

.card-projeto {
  position: relative;
  opacity: 0.5;
  margin-top: 0.9rem;
}

.card-projeto:hover,
.card-projeto:focus,
.card-projeto:active {
  opacity: 1;
}

.face {
  max-width: 300px;
  height: 200px;
  transition: all 0.7s ease;
}

.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card-projeto:hover .face1 {
  transform: translateY(0);
}

.titleH3 {
  padding: 0px;
  color: #383838;
  text-align: center;
  font-size: 1.4em;
  margin: 0 auto;
}

.titleH32 {
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
  margin: 0 auto;
}

.face2 {
  position: relative;
  background: #fff;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  transform: translateY(-100px);
  flex-direction: column;
  justify-content: space-between;
}

.card-projeto:hover .face2 {
  transform: translateY(0);
  cursor: default;
}

.face2 p {
  margin: 0;
  padding: 0;
  color: #000;
}

.face2 a,
.face2 span {
  margin: 15px 0 0;
  display: inline-block;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

.face2 a:hover,
.face2 a:active {
  background: #333;
  color: #fff;
  transition: all 0.7s ease;
  border: none;
}

@media (max-width: 768px) {
  .container-filter {
    width: 100%;
    gap: 2%;
  }

  .face {
    width: 255px;
  }
}

@media (max-width: 633px) {
  .face {
    width: 240px;
  }

  .divisao-sessao {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .container {
    display: -webkit-flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .face1,
  .face2 {
    transform: none;
  }
}