#projectList {
  margin: 5%;
}

.divisao-sessao {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}

.container-filter {
  display: flex;
  width: 70%;
  gap: 4%;
}

.container-filter button {
  color: #fff;
  font-family: 'Montserrat';
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .4);
  transition: .5s;
  background: #303030;
  border: #303030;
  border-radius: 10px;
  font-weight: bold;
  height: 45px;
  width: 100%;
}

#active {
  border: 2px solid white;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
  flex-wrap: wrap;
}

.card-projeto {
  position: relative;
  margin: 5px 15px;
}

.face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  border-radius: 7px;
}

.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card-projeto:hover .face1 {
  transform: translateY(0);
}

.face1 h3 {
  margin: 10px 0 0;
  padding: 0px;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 55px;
}

.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.card-projeto:hover .face2 {
  transform: translateY(0);
  cursor: default;
}

.face2 p {
  margin: 0;
  padding: 0;
  color: #000;
}

.face2 a,
.face2 span {
  margin: 15px 0 0;
  display: inline-block;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

.face2 a:hover {
  background: #333;
  color: #fff;
  transition: 0.6s;
  border: none;
}

@media (max-width: 768px) {
  .container-filter {
    width: 100%;
    gap: 2%;
  }

  .face {
    width: 255px;
  }

  .container-filter button {
    font-size: 0.7em;
  }
}

@media (max-width: 633px) {
  .face {
    width: 240px;
  }

  .divisao-sessao {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .container {
    display: -webkit-flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}