.aboutMe {
  display: flex;
  align-items: center;
  margin: 10%;
}

#aboutMeTitle {
  align-items: flex-start
}

.imgAboutMe {
  width: 340px;
  padding: 25px 20px;
  transition: all 0.7s;
  height: 100%;
  filter: invert(1) drop-shadow(20px 40px 45px rgb(70, 70, 70));
}

.imgAboutMe:hover {
  transform: scale(1.02);
}

.aboutMeParagraph {
  font-size: 1.1rem;
}

@media (min-width: 769px) {
  .aboutMe {
    padding-top: 100px;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .aboutMe {
    flex-wrap: wrap;
    justify-content: center;
  }

  #aboutMeTitle {
    margin-top: 1rem;
  }

  .imgAboutMe {
    width: 240px;
  }
}