.sobre-mim {
  display: flex;
  align-items: center;
  margin: 10%;
}

#sobre-mim-titulo {
  align-items: flex-start
}

.img-sobre-mim {
  width: 340px;
  padding: 25px 20px;
  transition: all 0.7s;
  height: 100%;
  filter: invert(1) drop-shadow(20px 40px 45px rgb(70, 70, 70));
}

.img-sobre-mim:hover {
  transform: scale(1.02);
}

.inf-sobre-mim {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .sobre-mim {
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-sobre-mim {
    width: 240px;
  }
}