@keyframes section {
  0% {
    transform: translateX(-50%)
  }
}

.sectionInitial {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  padding: 5rem 0 0 0;
  animation: section 2.5s;
}

.hello {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #000;
}

.textName {
  font-size: 2.8rem;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 0;
  color: #000;
}

.developer {
  font-size: 1.2rem;
  opacity: 80%;
  font-family: 'Montserrat';
  margin: -5px 0 20px 0;
  color: #000;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15%;
}

.btnContainer button {
  display: flex;
  height: 60px;
  font-weight: bold;
  width: 180px;
  border-radius: 35px;
  transition: 1s all;
  border: none;
  color: #fff;
  font-family: 'Montserrat';
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .4);
  background: #262626;
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
  align-items: center;
}

.iconDownload {
  margin-right: 0.5rem;
}

.btnLinks {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.btnLinks a {
  color: #262626;
  transition: 0.7s all;
}


.btnLinks a:hover {
  opacity: 0.55;
}

.containerText {
  padding: 10%;
  width: 75%;
  background-color: #E0E0E0;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .btnContainer {
    flex-direction: column;
    gap: 20px;
  }

  .containerText {
    padding: 8%;
    width: 80%;
  }

  .developer {
    width: 60%;
  }
}